# Those are created by QGIS, but they're auxilary, so there is no reason to track them
**.aux.xml

# Shortcuts. Those are usually for personal use.
**/*.lnk

# MF6 files can be downloaded from USGS (unless Trump deletes them, kekw)
/software/MF6

## models requires a complicated ignore list
# 1st line ignores files under In by default.
# 2nd line ignores all sub-folders, but not the files inside them. This is so more rules for the files inside them can be added later.
# 3rd line enables all PRJ files. The same idea is applied to other In types/files.
models/*/In/**
!models/*/In/**/
!models/*/In/PRJ/**
!models/*/In/CAP/
!models/*/In/CAP/**/

modes/*/doc/
models/*/PoP/
models/*/PrP/
models/*/Sim/

# Imod temp and user files
**/IMOD_INIT.PRF
**/IMOD_TMP/
**/IMOD_USER/

# python cache files
**/__pycache__/

# Snakemake: Ignore all folders in .snakemake except for log files. Also ignore all temp files in the code/snakemake folder.
models/*/.snakemake/
models/*/code/snakemake/temp/

## DVC files everywhere (except in SS folders) will be un-ignored. Same for .inp files, they're MetaSWAP files that are very small. CAVEAT: the folders where those file reside need to be un-ignored too, otherwise this won't work.
!**/*.dvc
!**/*.inp


# All SS folders will be ignored. This is placed at the bottom to overwrite anything else.
**/SS/
**/SS/**

# Excel lock files.
~$*.xls*
